
	<!-- prices -->
	<div id="prices" class="prices w3-agilefireworks jarallax">
		<div class="pricesw3-agileits">
			<div class="container"> 
				<h3 class="w3stitle w3stitle1">Our Best  <span>Event Packages </span></h3>  
				<div class="prices-agileinfo">
					<div class="col-sm-3 col-xs-6 price-w3lgrids">
						<div class="pricing pricing-two">
							<div class="pricing-top top-two">
								<h3>Birthday Parties</h3>
								<p>15000</p>
							</div>
							<div class="pricing-bottom"> 
								<p>3 Hours</p> 
								<p>Decor& Presentation</p> 
								<p>Photos & Videos</p>
								<p>Complimentary Cake</p>
								
								<div class="agileits-buy">
									<a class="popup-with-zoom-anim" href="#small-dialog">Book Now</a>
								</div>
							</div>
						</div>  
					</div>
					<div class="col-sm-3 col-xs-6 price-w3lgrids">
						<div class="pricing">
							<div class="pricing-top">
								<h3>Family Celebration</h3>
								<p>20000</p>
							</div>
							<div class="pricing-bottom"> 
								<p>Food & Drinks</p> 
								 <p>Photos&Videos</p>
								 <p>-</p> 
						
								<div class="agileits-buy">
									<a class="popup-with-zoom-anim" href="#small-dialog">Book Now</a>
								</div>
							</div>
						</div>  
					</div>
					<div class="col-sm-3 col-xs-6 price-w3lgrids">
						<div class="pricing pricing-three">
							<div class="pricing-top top-three">
								<h3>Wedding Celebrations</h3>
								<p>100000</p>
							</div>
							<div class="pricing-bottom wthree"> 
								<p>Food & Drinks</p> 
								<p>Photos&Videos</p> 
								<p>Decor& Presentation</p> 
								
								
								<div class="agileits-buy">
									<a class="popup-with-zoom-anim" href="#small-dialog">Book Now</a>
								</div>
							</div>
						</div>  
					</div> 
					<div class="col-sm-3 col-xs-6 price-w3lgrids">
						<div class="pricing pricing-four">
							<div class="pricing-top top-four">
								<h3>Corporate Events</h3>
								<p>50000</p>
							</div>
							<div class="pricing-bottom w3ls"> 
								<p>3 Hours</p> 
								<p>Food & Drinks</p> 
								<p>Complimentary WhiteScreen & Projector </p> 
								
								
								<div class="agileits-buy">
									<a class="popup-with-zoom-anim" href="#small-dialog">Book Now</a>
								</div>
							</div>
						</div>  
					</div> 
					<div class="clearfix"> </div>  
				</div> 
			</div> 
		</div>
	</div>
	<!-- //prices -->
