<!-- //header -->
<div class="banner-text"> 
    <h2>Event Planners</h2>
    <p>YOU DREAM IT...WE WILL MAKE IT</p>
    <!-- timer -->

    
    <!-- //timer --> 
    
</div> 
<!-- //banner-text --> 
<div class="welcome">    
    <div class="welcome-agileinfo">
        <div class="col-sm-6 col-xs-6 welcome-w3left">
            <div class="col-xs-3 welcome-w3limg">
                <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
            </div>
            <div class="col-xs-9 welcome-w3ltext"> 
                <h4>Planning and Organizing Events</h4>
                <h6>Since 1999 </h6>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-sm-6 col-xs-6 welcome-w3right">
            <div class="col-xs-9 welcome-w3ltext"> 
                <p>Where</p>
                <h4>INDIA</h4>
                
            </div>
            <div class="col-xs-3 welcome-w3limg">
                <i class="fa fa-street-view" aria-hidden="true"></i>
            </div> 
            <div class="clearfix"> </div>
        </div> 
        <div class="clearfix"> </div>
    </div> 
</div>  

<!-- //banner --> 