<!-- pop-up-grid -->
<div id="small-dialog" class="mfp-hide">
    <div class="pop_up w3-agile">
        <div class="payment-online-form-left">
            <form action="#" method="post"> 
                <h4>Account Info</h4>
                <ul>
                    <li><input class="text-box-dark" placeholder="First Name" type="text" required=""></li>
                    <li><input class="text-box-dark" placeholder="Last Name" type="text" required=""></li>
                </ul>
                <ul>
                    <li><input class="text-box-dark" placeholder="Email" type="email" required=""></li>
                    <li><input class="text-box-dark" placeholder="Phone Number" type="text" required=""></li> 
                </ul> 
                <ul>  
                    <li>
                        <label>No of Tickets</label>
                        <select class="form-control">
                            <option value="1">1 Ticket</option>
                            <option value="2">2 Tickets</option>
                            <option value="3">3 Tickets</option>
                            <option value="4">4 Tickets</option>
                            <option value="5">5 Tickets</option>
                            <option value="6">More</option>
                        </select> 
                    </li>
                    <li>
                        <label>Package</label>
                        <select class="form-control"> 
                            <option value="1">Classic</option>
                            <option value="2">Elite</option>
                            <option value="3">Couple</option>
                            <option value="4">Special</option> 
                        </select>
                    </li> 
                </ul>	
                <ul> 
                    <li class="w3ls-address"><input class="text-box-dark" placeholder="Address" type="text" required=""></li> 
                </ul>	
                <div class="clearfix"> </div>
                <h4>Payment Method</h4> 
                <ul class="payment-type w3-agile"> 
                    <li><span class="col_checkbox">
                        <input type="radio" name="payment-method" id="paypal" value="paypal"> 
                        <a class="visa" href="#"> </a>
                        </span>												
                    </li>
                    <li>
                        <span class="col_checkbox">
                            <input type="radio" name="payment-method" id="card" value="card" checked="">
                            <a class="paypal" href="#"> </a>
                        </span>
                    </li>  
                </ul>
                <div class="clearfix"> </div>
                <ul>
                    <li><input class="text-box-dark" placeholder="Card Number" type="text" required=""></li>
                    <li><input class="text-box-dark" placeholder="Name on card" type="text" required=""></li>
                </ul>
                <ul>
                    <li><input class="text-box-dark" placeholder="Expiration Date" type="text" required=""></li>
                    <li><input class="text-box-dark" placeholder="Security Code" type="text" required=""></li>
                </ul> 
                <ul class="payment-sendbtns">
                    <li><input type="reset" value="Reset"></li>
                    <li><input type="submit" value="Process order"></li>
                </ul>
                <div class="clearfix"> </div>
            </form>
        </div>
    </div>
</div>
<!-- //pop-up-grid --> 
<!-- modal -->
<div class="modal about-modal w3-agileits fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
            </div> 
            <div class="modal-body">
                <img src="images/img2.jpg" alt=""> 
                <h5>Cras rutrum iaculis enim</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum iaculis enim, non convallis felis mattis at. Donec fringilla lacus eu pretium rutrum. Cras aliquet congue ullamcorper. Etiam mattis eros eu ullamcorper volutpat. Proin ut dui a urna efficitur varius. uisque molestie cursus mi et congue consectetur adipiscing elit cras rutrum iaculis enim, Lorem ipsum dolor sit amet, non convallis felis mattis at. Maecenas sodales tortor ac ligula ultrices dictum et quis urna. Etiam pulvinar metus neque, eget porttitor massa vulputate. </p>
            </div> 
        </div>
    </div>
</div>
<!-- //modal -->
<!-- modal -->
<div class="modal about-modal w3-agileits fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
            </div> 
            <div class="modal-body login-page "><!-- login-page -->      
                <div class="sap_tabs">
                    <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                        <ul class="resp-tabs-list">
                            <li class="resp-tab-item" aria-controls="tab_item-0"><span>Login</span></li>
                            <li class="resp-tab-item" aria-controls="tab_item-1"><span>Register</span></li> 
                        </ul>	 
                        <div class="clearfix"> </div>	
                        <div class="resp-tabs-container">
                            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                                <div class="agileits-login">
                                    <form action="#" method="post">
                                        <input type="text" class="email" name="Email" placeholder="Email" required=""/>
                                        <input type="password" class="password" name="Password" placeholder="Password" required=""/>
                                        <div class="wthree-text"> 
                                            <ul> 
                                                <li>
                                                    <label class="anim">
                                                        <input type="checkbox" class="checkbox">
                                                        <span> Remember me ?</span> 
                                                    </label> 
                                                </li>
                                                <li> <a href="#">Forgot password?</a> </li>
                                            </ul>
                                            <div class="clearfix"> </div>
                                        </div>  
                                        <div class="w3ls-submit"> 
                                            <input type="submit" value="LOGIN">  	
                                        </div>	
                                    </form>
                                </div> 
                            </div>
                            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                                <div class="login-top sign-top">
                                    <div class="agileits-login">
                                        <form action="#" method="post">
                                            <input type="text" name="Username" placeholder="Username" required="">
                                            <input type="text" class="email" name="Email" placeholder="Email" required=""/>
                                            <input type="password" class="password" name="Password" placeholder="Password" required=""/>	
                                            <label class="anim">
                                                <input type="checkbox" class="checkbox">
                                                <span> I accept the terms of use</span> 
                                            </label> 
                                            <div class="w3ls-submit"> 
                                                <input class="register" type="submit" value="REGISTER">  
                                            </div>
                                        </form> 
                                    </div>  
                                </div>
                            </div>
                        </div>	
                    </div>
                    <div class="clearfix"> </div>
                </div>   
            </div> <!-- //login-page -->
        </div>
    </div>
</div>
<!-- //modal -->  	