<html>
<body>    
<!-- services -->
<div id="services" class="services">
    <div class="container">  
        <h3 class="w3stitle">Our<span> SERVICES</span></h3>  
        <div class="services-w3ls-row">
            <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
                <span class="glyphicon glyphicon-home effect-1" aria-hidden="true"></span>
                <h5>Venue Selection</h5>
                <p>Find the perfect venue for FREE!!</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
                <span class="glyphicon glyphicon-list-alt effect-1" aria-hidden="true"></span>
                <h5>Food & Drink</h5>
                <p>Our flexible menus cater for all dietary requirements.</p>
            </div>
            
            <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
                <span class="glyphicon glyphicon-tree-deciduous effect-1" aria-hidden="true"></span>
                <h5>Decor & Presentation</h5>
                <p>With contemporary, hand-crafted decor and embellishments</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 services-grid">
                <span class="glyphicon glyphicon-globe effect-1" aria-hidden="true"></span>
                <h5>Photos & Videos</h5>
                <p>We take photos as a return ticket to a moment otherwise gone</p>
            </div> 
            <div class="clearfix"> </div>
        </div>  
    </div>
</div>
<!-- //services -->
</body>
</html>